/* Styles */
html, body, #root, .container-loading {
  height: calc(100vh - 60px);
}

body {
  padding-top: 60px;
}

.chat-page {
  height: 100%;
}

.chat-page .message-header {
  font-weight: bold;
}

.chat-page .message-text {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.message-list {
  height: calc(100vh - 140px);
  padding-bottom: 80px;
  margin-top: 30px;
}

.message-list li {
  list-style: none;
}

.users-btn .users-list {
  display: none;
}

.users-btn:hover .users-list {
  display: block;
}
